{% extends "base.html.twig" %}

{% block title %}Movies - Acceuil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Invoice archive -->
			<div class="panel panel-white">
				<div class="panel-heading">
					<h6 class="panel-title">Invoice archive</h6>
					<div class="heading-elements">
						<ul class="icons-list">
	                		<li><a data-action="collapse"></a></li>
	                		<li><a data-action="reload"></a></li>
	                		<li><a data-action="close"></a></li>
	                	</ul>
                	</div>
				</div>

				<table class="table table-lg invoice-archive">
					<thead>
						<tr>
							<th>#</th>
							<th>Year</th>
			                <th>Imdb</th>
			                <th>Nom</th>
			                <th>Link</th>
			                <th class="text-center">Actions</th>
			            </tr>
					</thead>
					<tbody>
						{% for film in films %}
							<tr>
								<td>#{{film.id}}</td>
								<td>{{film.year}}</td>
								<td>{{film.imdb}}</td>
				                <td>
				                	{{film.title}}</a>
			                	</td>
				                <td>
				                	{% if film.links %}
				                		<a class="btn btn-success" href="{{path('show_iframe', {accessToken : "e1f18c9398aa4236bc69a4d7273ff53759d5ac84" , imdb : film.imdb} )}}">Video Player</a>
				                	{% endif %}
			                	</td>
								<td class="text-center">
									<a href="{{path('movie_links', { id: film.id })}}" class="btn btn-default">Links</a>
									<a href="{{path('movie_edit', { id: film.id })}}" class="btn btn-warning">Modifer</a>
									<a href="{{path('movie_delete', { id: film.id })}}" class="btn btn-danger">Supprimer</a>
								</td>
				            </tr>
			            {% endfor %}

		            </tbody>
	            </table>
			</div>
			<!-- /invoice archive -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/Back/global_assets/js/plugins/tables/datatables/datatables.min.js')}}"></script>
	<script src="{{asset('assets/Back/global_assets/js/plugins/forms/selects/select2.min.js')}}"></script>
	<script src="{{asset('assets/Back/js/app.js')}}"></script>
	<script src="{{asset('assets/Back/global_assets/js/demo_pages/invoice_archive.js')}}"></script>
{% endblock %}