{% extends "base.html.twig" %}

{% block title %}Movies - Acceuil{% endblock %}
{% block body %}
	<!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper ">

        <!-- Advanced login -->
        <form method="post">
          <div class="panel panel-body login-form">
            <div class="text-center">
              <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
              <h5 class="content-group">Veuillez saisir les liens <small class="display-block"></small></h5>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <label for="links">Video Player</label>
              <textarea class="form-control" id="links" name="links">www.google.com,www.facebook.com</textarea>
              <a class="btn btn-default" onclick="add_multiple()">Add multiple links</a>
            </div>

            <div class="all_links">
              <table>
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Url</th>
                    <th>Control</th>
                  </tr>
                </thead>
                <tbody class="body_links">
                  <tr id="1">
                    <td><input type="text" name="title1" value="Player1"></td>
                    <td><input type="text" name="url1" value="https://www.youtube.com"></td>
                    <td><a class="btn btn-danger" onclick="delete_link(1)">Remove</a></td>
                  </tr>
                  {% for link in film.links %}
                    <tr id="{{link.id}}">
                    <td><input type="text" name="title{{link.id}}" value="Player{{link.id}}"></td>
                    <td><input type="text" name="url{{link.id}}" value="{{link.link}}"></td>
                    <td><a class="btn btn-danger" onclick="delete_link({{link.id}})">Remove</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <button type="submit" class="btn bg-blue btn-block">Enregistrer <i class="icon-arrow-right14 position-right"></i></button>
            </div>

          </div>
        </form>
        <!-- /advanced login -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

    <script type="text/javascript">
      function add_multiple(){
        var links = $('#links').val();
        links = links.split(',');
        console.log(links);
        for (var i = links.length - 1; i >= 0; i--) {
          var html = '';
          var linkslen = $('.body_links tr').length+125;
          html += '<tr id="'+linkslen+'"><td><input type="text" name="title'+linkslen+'" value="Player'+linkslen+'"></td><td><input type="text" name="url'+linkslen+'" value="'+links[i]+'"></td><td><a class="btn btn-danger" onclick="delete_link('+linkslen+')">Remove</a></td></tr>';
          $('.body_links').append(html);
        }
      }
      function delete_link(id){
        $('#'+id).remove();
      }
    </script>
{% endblock %}
