{% extends "base.html.twig" %}

{% block title %}Movies - Acceuil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<form action="{{path('search_series')}}" method="post" class="block_form_search">
				<fieldset class="content-group">
					<legend class="text-bold">Recherche Série</legend>

					<div class="form-group">
						<label class="control-label col-lg-2 title_search">Titre</label>
						<div class="col-lg-8">
							<input required type="text" class="form-control search_input" placeholder="Recherche...." name="query">
						</div>
						<input type="submit" class="btn btn-default submit_search col-sm-2">
					</div>
				</fieldset>
			</form>

			<!-- Invoice archive -->
			<div class="panel panel-white block_table_data">
				<div class="panel-heading">
					<h6 class="panel-title">Séries archive</h6>
					<div class="heading-elements">
						<ul class="icons-list">
	                		<li><a data-action="collapse"></a></li>
	                		<li><a data-action="reload"></a></li>
	                		<li><a data-action="close"></a></li>
	                	</ul>
                	</div>
				</div>

				<table class="table table-lg ">
					<thead class="thead_custom">
						<tr>
							<th>#</th>
							<th>Poster</th>
			                <th>Tmdb</th>
							<th>Titre</th>
			                <th>Date</th>
			                <th>Seasons</th>
            				{% if is_granted('ROLE_ADMIN') %}
			                	<th class="text-center">Actions</th>
							{% endif %}
			            </tr>
					</thead>
					<tbody>
						{% for serie in series %}
							{% set serie = serie.show %}
							{% if serie.type == "series" %}
								<tr class="data_row">
									<td class="id_row">#{{serie.id}}</td>
									<td class="id_row"><img src="{{serie.poster}}" style="width:60px;"></td>
									<td>{{serie.tmdb}}</td>
					                <td>
					                	{% if app.request.locale == 'en' %}
					                		{{serie.title}}
					                	{% else %}
					                		{% for title in serie.titles %}
					                			{% if title.lang == app.request.locale %}
					                				{{title.title}}
					                			{% endif %}
					                		{% endfor %}
					                	{% endif %}
					                </td>
					                <td>{{serie.year}}</td>
					                <td>
					                	<a class="btn_options" href="{{path('show_seasons', {id: serie.id})}}"><i class="fal fa-film"></i></a>
					                </td>
	                				{% if is_granted('ROLE_ADMIN') %}
										<td class="text-center">
											<a href="{{path('serie_update', { id: serie.imdb })}}" class="btn_options"><i class="fal fa-repeat"></i></a>
											<a href="{{path('serie_delete', { id: serie.id })}}" class="btn_options"><i class="fal fa-trash"></i></a>
										</td>
									{% endif %}
					            </tr>
				            {% endif %}
			            {% endfor %}
		            </tbody>
	            </table>
	            <div class="navigation">
	                {{ knp_pagination_render(series) }}
	            </div>
			</div>
			<!-- /invoice archive -->	

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/Back/global_assets/js/plugins/tables/datatables/datatables.min.js')}}"></script>
	<script src="{{asset('assets/Back/global_assets/js/plugins/forms/selects/select2.min.js')}}"></script>
	<script src="{{asset('assets/Back/js/app.js')}}"></script>
	<script src="{{asset('assets/Back/global_assets/js/demo_pages/invoice_archive.js')}}"></script>
{% endblock %}